*{
  margin: 0;
  background-color: thistle;
}
.mainHeading{
    text-align: center;
    color: brown;
    font-size: 3rem;
    font-weight: 800;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
}
.box{
  width: 400px;
  border: 2px solid green;
  padding: 15px;
  margin-bottom: 10px;
  margin: 0 auto;
  box-shadow: rgb(44, 185, 51) 1px 1px 5px 1px;
}
.btn1{
   padding: 5px;
   background-color: lawngreen;
   color: white;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 10px;
   
}
.btn2{
    float: right;
   padding: 5px;
   background-color: red;
   color: white;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 10px;
}

.btn1:hover{
   padding: 5px;
   background-color: rgb(252, 71, 0);
   color: white;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 10px;
   
}
.btn2:hover{
    float: right;
   padding: 5px;
   background-color: rgb(30, 255, 0);
   color: white;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 10px;
}
.input1{
    width: 100%;
}