*{
  margin: 0;
  background-color: thistle;
}
.mainHeading{
    text-align: center;
    color: brown;
    font-size: 3rem;
    font-weight: 800;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
}
.box{
  width: 600px;
  border: 2px solid green;
  padding: 15px;
  margin-bottom: 10px;
  margin: 0 auto;
  box-shadow: rgb(44, 185, 51) 1px 1px 5px 1px;
}


.input1{
    width: 100%;
}